* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100vh;
}

.hidden {
  display: none;
}
img {
  position: fixed;
  width: 100vw;
  height: auto;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-size: contain;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#clock {
  color: azure;
  font-size: 80px;
  margin-bottom: 70px;
}
#login-input {
  font-size: 25px;
}

#log-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#greeting {
  margin-right: 100px;
  color: white;
}

#login-button,
#logout-button {
  padding: 10px;
  font-size: 19px;
  color: black;
  background-color: white;
  border-radius: 20%;
}

#quote {
  font-size: 30px;
  font-weight: 400;
  color: #f6f6f6;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#todo-input {
  font-size: 30px;
  opacity: 80%;
}

#todo-list {
  font-size: 50px;
  color: white;
}
li > button {
  margin-left: 30px;
  font-size: 40px;
}
